@tailwind base;
@tailwind components;
@tailwind utilities;


.a {
    position: relative;
    font-size: 36px;
    font-family: sans-serif;
}

.cursor {
    position: absolute;
    left: 0;
    bottom: 0;
    animation: cursor-blink 0.7s infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}